<nav>
    <ul class="nav-links">
      <li><a routerLink='/adminUsers'>Korisnici</a></li>
      <li><a routerLink='/adminAgency'>Agencije</a></li>
      <li><a routerLink='/adminMicrolocation'>Mikrolokacije</a></li>
      <li><a routerLink='/admin' class='login'>Moj profil</a></li> 
    </ul>        
    <div class="hidden-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div class="containter">
    <main>
    <section class="glass">
        <form class='uredi' name='registracija' id='forma' action="" method="post">
            <div class="imgcontainer">
              <img src="./assets/images/avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class='section'>
                <input type='text' name='name' id='name' autocomplete="off"  [(ngModel)]='name'required>
              <label for='name' class='label-name'>
                  <span class='content-name'>Ime</span>
              </label>
            </div>
            <div class='section'>
                <input type='number' name='pib' id='pib' autocomplete="off" [(ngModel)]='pib'required>
              <label for='pib' class='label-name'>
                  <span class='content-name'>PIB</span>
              </label>
            </div>
              <div class='section'>
                  <input type='text' name='city' id='city' autocomplete="off" [(ngModel)]='city'required>
                <label for='city' class='label-name'>
                    <span class='content-name'>Grad</span>
                </label>
              </div>
              <div class='section'>
                <input type='text' name='address' id='address' autocomplete="off" [(ngModel)]='address'required>
                <label for='address' class='label-name'>
                    <span class='content-name'>Adresa</span>
                </label>
              </div>
              <div class='section'>
                <input type="text" name='phone' id="phone" autocomplete="off" [(ngModel)]='phone'required>
                <label for='phone' class='label-name'>
                    <span class='content-name'>Broj telefona</span>
                </label>
              </div>
                  <span style="color:red;">{{message}}</span>
            <button type='submit' class='registerbutton' (click)='add()'>Dodaj agenciju</button>
          </form>

    </section>
    <div class="circle1"></div>
    <div class="circle2"></div>
    </main>
</div>
<footer>
  <p>Author: Aleksandar Radosevic 2018/0333<br>
</footer>