<nav>
    <ul class="nav-links">
        <li><a routerLink='/adminUsers'>Korisnici</a></li>
        <li><a routerLink='/adminAgency'>Agencije</a></li>
        <li><a routerLink='/adminMicrolocation'>Mikrolokacije</a></li>
        <li><a routerLink='/admin' class='login'>Moj profil</a></li>
        <li><a routerLink='' class='button register'>Odjavi se</a></li>    
    </ul>
            
    <div class="hidden-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
    <main>
    <section class="glass" >
        <div class='uredi'>
            <div class="imgcontainer">
              <img src="/assets/images/admin.png" alt="Avatar" class="avatar">
            </div>
            </div>
            <br>
            <div class="container-fluid" style="text-align:center !important;">
                <div class="row">
                    <div class="col-sm-12">
                    <a routerLink='/changePass'>
            <button class='velicina btn btn-lg btns' style="color: white;">Promena lozinke</button> 
                    </a>
                </div>
                </div>
            </div>   
            <br>
            <div class="container-fluid" style="text-align:center !important;">
                <div class="row">
                    <div class="col-sm-12">
                    <a routerLink='/adminUsers'>
            <button class='velicina btn btn-lg btns' style="color: white;">Korisnici</button> 
                    </a>
                </div>
                </div>
            </div>        
            <br><br>    
            <div class="container-fluid" style="text-align:center !important;">
                <div class="row">
                    <div class="col-sm-12">
                    <a routerLink="/adminAgency">
                    <button class='velicina btn btn-dark btn-lg btns'style="color: white;">Agencije</button> 
                    </a>
                </div>
                </div>
            </div>
            <br><br>
            <div class="container-fluid" style="text-align:center !important;">
                <div class="row">
                    <div class="col-sm-12">
                    <a routerLink="/adminMicrolocation">
                    <button class='velicina btn btn-dark btn-lg btns'style="color: white;">Lokacije</button> 
                    </a>
                </div>
                </div>
            </div>  
    </section>
    <div class="circle1"></div>
    <div class="circle2"></div>
    </main>
    <footer>
        <p>Author: Aleksandar Radosevic 2018/0333<br>
    </footer>