<nav>
    <ul class="nav-links" *ngIf="customer">
        <li><a routerLink='/advancedSearch'>Napredna pretraga</a></li>
        <li><a routerLink='/basicSearch'>Pretraga</a></li>
        <li><a routerLink='/favorites'>Omiljeno</a></li>
        <li><a routerLink='/customer' class='login'>Moj profil</a></li>
        <li><a routerLink='' class='button register'>Odjavi se</a></li>
    </ul>
    <ul class="nav-links" *ngIf="admin">
        <li><a routerLink='/adminUsers'>Korisnici</a></li>
        <li><a routerLink='/adminAgency'>Agencije</a></li>
        <li><a routerLink='/adminMicrolocation'>Mikrolokacije</a></li>
        <li><a routerLink='/admin' class='login'>Moj profil</a></li>
        <li><a routerLink='' class='button register'>Odjavi se</a></li>
    </ul>
    <ul class="nav-links" *ngIf="seller">
        <li><a routerLink='/sellerInformation'>Informacije</a></li>
        <li><a routerLink='/sellerEstatesAdd'>Dodavanje oglasa</a></li>
        <li><a routerLink='/sellerEstates'>Moji oglasi</a></li>
        <li><a routerLink='/seller' class='login'>Moj profil</a></li>
        <li><a routerLink='' class='button register'>Odjavi se</a></li>
    </ul>
    <div class="hidden-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
<div class="containter">
    <main>
        <section class="glass">
            <form method='POST' action=''>
                <div class='uredi'>
                    <ul class='izmena'>
                        <h1 class='izmena-naslov'>Vaši podaci</h1>
                        <li>
                            <label class='izmena_label'>
                                <span class='izmena_span'>Stara lozinka</span>
                                <input type='password' class='izmena_input' value='' name="old" [(ngModel)]="old"
                                    autocomplete="off">
                            </label>
                        </li>
                        <li>
                            <label class='izmena_label'>
                                <span class='izmena_span'>Nova lozinka</span>
                                <input type='password' class='izmena_input' name="password" [(ngModel)]="password"
                                    autocomplete="off">
                            </label>
                        </li>
                        <li>
                            <label class='izmena_label'>
                                <span class='izmena_span'>Potvrdi novu lozinku</span>
                                <input type='password' class='izmena_input' name="pass_again" [(ngModel)]="pass_again"
                                    autocomplete="off">
                            </label>
                        </li>
                        <span style="color:red">{{message}}</span>
                        <br>
                        <button type='submit' (click)='change()' class='izmeni_dugme'>Sačuvaj izmene</button>
                    </ul>
                </div>
            </form>
        </section>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </main>
</div>
<footer>
    <p>Author: Aleksandar Radosevic 2018/0333<br>
</footer>